<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Información del Cliente
    </ion-card-header>
    
    <ion-card-content>
      <ion-label>Nombre: {{ detallesCliente.nombre_completo }}</ion-label>
      
    </ion-card-content>
  </ion-card>
</ion-content>
