<ion-header>
  <ion-toolbar>
    <ion-title>Proveedores</ion-title>
    <ion-searchbar placeholder="buscar proveedor" (ionInput)="filterProductos($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngFor="let p of filteredProductos">
      <ion-label class="info_detalle" class="titulo">Nombre:</ion-label>
      <ion-label class="info_detalle">{{ p.nom_proveedor }}</ion-label>
      <br>
      <ion-label class="info_detalle" class="titulo">Celular:</ion-label>
      <ion-label class="info_detalle">{{ p.doc_proveedor }}</ion-label>
      <br>
      <ion-label class="info_detalle" class="titulo">Correo electrónico:</ion-label>
      <ion-label class="info_detalle">{{ p.contacto_proveedor }}</ion-label>
      <br>
      <ion-label class="info_detalle" class="titulo">Ciudad:</ion-label>
      <ion-label class="info_detalle">{{ p.email_proveedor }}</ion-label>
      <br>
      <ion-label class="info_detalle" class="titulo">Dirección: </ion-label>
      <ion-label class="info_detalle">{{ p.ciudad_proveedor }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
