
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Lato:wght@400;700&display=swap');

ion-toolbar {
  text-align: center;
}

ion-title {
  margin: 0 auto;
}

.table-wrapper {
  overflow-y: auto; /* Hace que la tabla sea desplazable verticalmente */
  max-height: 67vh; 
}

table {
  width: 95%;
  margin: 20px auto; 
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px; 
  padding: 0.5em;
  font-family: 'Barlow', sans-serif;
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  font-family: 'Barlow', sans-serif;
}

th {
  background-color: #fff;
  color: #585858;
  align-items: center;
  width: 50%;
}

td{
  padding: 1.2em 0;
}

tr{
  color: #383838;
}

ion-accordion-group .ion-padding tr {
  display: flex; 
  justify-content: space-between; 
  border-bottom: 1px solid #ddd; 
  padding: 0px; 
  margin: 0;
}
ion-accordion-group tr {
  display: flex; 
  justify-content: space-between; 
  padding: 2px; 
  margin: 0;
}
ion-accordion-group tr .fa{
  border: none;
  margin-right: 0px;
  margin-left: 10px;
  padding-left: 0px;
  border-bottom: none;
}
ion-accordion-group tr .nom{
    border: none;
    margin-right: 5px;
    margin-left: 90px;
    padding-left: 0px;
    border-bottom: none;
}
.ion-padding tr td {
  border: none; 
  margin-right: 20px; 
}

.ion-padding tr td:last-child {
  margin-right: 0;
}

.ion-accordion {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  max-height: 300px; 
  overflow: scroll; 
}

.ion-item {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}





@media screen and (max-width: 600px) {
      th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }

      th, td {
        text-align: center;
      }
      ion-accordion-group {
        display: inline-block;
        padding: 8px;
        margin: 0px auto;
        width: 100%;
        height: 100%;
        background-color: none;
      }
    }


thead tr th {
  display: inline-block;
  width: 50%; 
  padding: 1.2em;
}

tbody tr td {
  display: inline-block;
  width: 50%; 
}


/* ---------------CLASES-------------- */

.icono_buscador{
  --icon-color:#358cb4;
  padding: 0.9em 1.2em 0 1.2em;
}

.next{
  --icon-color:#358cb4;
}


.font{
  font-family: 'Barlow', sans-serif;
}

.input-wrapper {
  flex: 1 1 0%;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: inherit;
  box-sizing: border-box;
}

/* En tu archivo de estilos (por ejemplo, styles.scss) */
ion-spinner.center-spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Ajusta según sea necesario */
}

:host .ionicon{
  color: #358cb4;
}

/* Color azul para el nombre del producto */
.color_nombre{
  display: block;
  height: 100%;
  width: 100%;
  border: none;
}


/* -----modal---------- */


div#fondo_modal {
  position: absolute;
  background-color: #58585800; /* 58585890 */
  width: 99%;
  height: 100%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  
}

  div#modal_contenedor {
    position: absolute;
    background-color: #58585800;
    width: 90%;
    height: 75%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1.3em;
    display: none;
    opacity: 0;
  }
    div#conten_informacion {
      background-color: #358cb4;
      width: 100%;
      height: 100%;
    }
      div#conten_titulo {
        border-top-left-radius: 1.2em;
        border-top-right-radius: 1.2em;
        /* background-color: #358cb4; */
        background: linear-gradient(to left, #358cb4, #58585800); 
        width: 100%;
        height: 38%;
        z-index: 0;
      }
        section#lado_logo {
          width: 100%;
          height: 100%;
          /* background-color: #383838; */
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }
          div#btn_cerrar {
            position: absolute;
            background-color: white;
            width: 60px;
            height:60px;
            top: -13%;
            right: -4%;
            border-radius: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 10px 3px #878787;
          }
          p#titulo_proveedor {
            position: absolute;
            color: #ffffff;
            font-size: 1.1em;
            font-weight: 600;
            left: 10%;
            transform: translateX(-10%);
            bottom: -1%;
            background-color: #66A8C7;
            width: 40%;
            height: 20%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.7em;
            letter-spacing: 0.5px;
            
          }
      div#conten_cuerpo {
        width: 100%;
        height: 63%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: linear-gradient(to left, #ffffff, #58585800);
        border-bottom-left-radius: 1.3em;
        border-bottom-right-radius: 1.3em;
      }
        div#conten_cuerpo_todo {
          z-index: 2;
          width: 88%;
          height: 88%;
          text-rendering: optimizeLegibility;
          border-radius: 1.3em;
          box-shadow: 4px 3px 30px 5px #a7a7a7;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          overflow: hidden;
          background-color: #ffffff;
        }
          section#contenedor_1_info {
            width: 85%;
            height: 15%;
            /* background-color: #E8E8E8; */
            border-bottom: solid 0.5px #358cb4;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1x em;
            color: #555D60;
            overflow: scroll;
            /* border-radius: 0.5em; */
          }
           /*  section#contenedor_1_info p {
              margin-left: 3%;
            } */
          section#section_final {
            border-bottom: none;
          }





/* Clases modal */

.stilo_conten_info {
  width: 85%;
  height: 15%;
  background-color: hwb(0 100% 0%); /* E8E8E8 */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.0em;
  color: #555D60;
  overflow-x: scroll;
  font-weight: 100;
} 
  .stilo_conten_info div {
    background-color: #358cb4;
    border-radius: 30%;
    width: 20px;
    height: 20px;
    margin-right: 5%;
  }

.linea_alta {
  border-top: solid 0.5px #b0b0b0;
}