<ion-toolbar>
  <ion-title>
    Productos
  </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="searching" class="center-spinner"></ion-spinner>
  <ion-searchbar
  [debounce]="700"
  placeholder="Productos"
  class="icono_buscador custom-searchbar"
  [(ngModel)]="searchTerm"
  (ionInput)="filterProductos($event)"
></ion-searchbar>
 
  <table class="font">
    <thead>
      
      <tr>
        <ion-toolbar style="z-index: 1;">
        <th id="cajon_nombre">Nombre</th>
        <th id="cajon_cantidad">Cantidad </th>
      </ion-toolbar>
      </tr>
      
    </thead>
    <tbody>
      
      <div class="table-wrapper">
      <ion-accordion-group expand="inset" >
        
        <div *ngFor="let producto of filteredProductos" >
          <ion-accordion [value]="producto.id_producto" class="color_icono">
            <ion-item slot="header" color="light">
              
              <tr class="input-wrapper" >
                <td class="fa" class="color_nombre">{{ producto.nombre_producto.length > 15 ? producto.nombre_producto.slice(0, 15) + '...' : producto.nombre_producto }}</td>
                <td class="nom">{{ producto.cantidad_producto }}</td>
              </tr>
            </ion-item>
            <div class="ion-padding" slot="content">
              <tr>
                <td>Referencia:</td>
                <td>{{ producto.ref_produ_1 }}</td>
              </tr>
              <tr>
                <td>Precio Compra: </td>
                <td> {{ producto.precio_compra }}</td>
              </tr>
              <tr>
                <td>Precio Venta:</td>
                <td>{{ producto.precio_venta }}</td>
              </tr>
              <tr>
                <td>Stock minimo:</td>
                <td>{{ producto.stockminimoa }}</td>
              </tr>
              <tr>
                <td>Provedor:</td>
                <td style="color: #358cb4;" (click)="obtenerProveedor(producto.nom_proveedor)">{{ producto.nom_proveedor }}</td>
              </tr>
              <tr>
                <td><ion-button class="btn_detalle" (click)="obtenerProveedor(producto.nom_proveedor)">Detalles proveedor</ion-button></td>
              </tr>
            </div>
          </ion-accordion>
        </div>
      </ion-accordion-group>
    </div>
    </tbody>
    <div *ngIf="errorObtenerCreditos" class="error-message">
      Ha ocurrido un error al obtener los créditos. Por favor, revisa tu conexión a internet e intenta nuevamente.
    </div>

    <div *ngIf="showNoResultsMessage && !searching" class="ion-text-center ion-padding">
      No se encontraron productos con ese nombre.
    </div>
    
  </table>

  <div id="fondo_modal" (click)="cerrar_modal()">

    <div id="modal_contenedor">
      <ion-item-group style="width: 100%; height: 100%; position: relative;" *ngFor="let proveedor of proveedores">

        <div id="conten_titulo">

          <section id="lado_logo">
            <!-- <ion-icon style="color: white; font-size: 5.5em;" name="cube-outline"></ion-icon> -->

            <div id="btn_cerrar" (click)="cerrar_modal()">
              <ion-icon style="color: #358cb4; font-size: 1.9em;" name="close-outline"></ion-icon>
            </div>

            <p id="titulo_proveedor">Proveedor</p>
          </section>

        </div>

        <div id="conten_cuerpo" (click)="detener_Propagacion($event)">

          <div id="conten_cuerpo_todo">

            <section id="contenedor_1_info" >
              <p>{{ proveedor.nom_proveedor }}</p>
            </section>
  
            <section class="stilo_conten_info">
              <div></div> <p> Nit o CC: {{ proveedor.doc_proveedor }}</p>
            </section>
  
            <section class="stilo_conten_info ">
              <div></div> <p>Tel: {{ proveedor.contacto_proveedor }}</p>
            </section>
  
  
            <section class="stilo_conten_info linea_alta">
              <div></div> <p>Email:{{ proveedor.email_proveedor }}</p>
            </section>
  
            <section id="section_final" class="stilo_conten_info">
              <div></div> <p>Direccion: {{ proveedor.direccion_proveedor }} - {{ proveedor.ciudad_proveedor }}</p>
            </section>

          </div>

        </div>
      </ion-item-group>
    </div>

  </div>


</ion-content>

