
  <ion-toolbar>
    <ion-title>
      Estadísticas
    </ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="btn_venta_mes">
                <p (click)="setOpenTop(true)">Top de productos</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="btn_venta_mes">
                <p (click)="setOpen(true)">Ventas por mes</p>
              </div>
            </ion-col>
        </ion-row>
          </ion-grid>
          <div class="mes_actual">
            <p>Mes actual: {{ mesActual }}</p>
          </div>
        <ion-card>
          <canvas  id="myChart" width="400" height="400">x
          </canvas>
        </ion-card>

  
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let ingreso of ingresosDiarios; let i = index">
              <app-day-box [day]="ingreso.day" [value]="ingreso.value" [backgroundColor]="getBackgroundColor(i)"></app-day-box>
            </ion-col>
          </ion-row>
        </ion-grid>
    
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-toolbar>
            <ion-title>Ventas de mes total</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)"><ion-icon id="btn_cerrar" name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-content class="ion-padding">
            <ion-content>
                  <ion-row>
                    <ion-col style="border: 1px solid #e7ebee;" size="6" size-md="4" *ngFor="let venta of ventasPorMes">
                        <ion-card-header>
                          <ion-card-title>{{ venta.mes }}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          Total: {{ venta.totalFormateado }}
                        </ion-card-content>
                    </ion-col>
                  </ion-row>
            </ion-content>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal [isOpen]="isModalOpenTop">
        <ng-template>
          <ion-toolbar>
            <ion-title>Ventas de mes total</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenTop(false)"><ion-icon id="btn_cerrar" name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-content class="ion-padding">
            <ion-list *ngIf="topProductos && topProductos.length > 0">
              <ion-row>
                <ion-col>
                  <ion-item *ngFor="let producto of topProductos">
                    <ion-label>{{ producto.producto_factura.length > 10 ? producto.producto_factura.slice(0, 20) + '..' : producto.producto_facturas }}</ion-label>
                    <ion-label>Cantidad vendida: {{ producto.cantidad_productos_factura }}</ion-label>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
            
            <div *ngIf="!ventas || ventas.length === 0">
              <p>No hay datos de ventas disponibles.</p>
            </div>
            
          </ion-content>
        </ng-template>
      </ion-modal>
</ion-content>
