
  
  ion-toolbar {
    text-align: center;
  }
  
  ion-title {
    margin: 0 auto;
  }
  
.mes_actual{
  margin: 0; 
  text-align: center; 
  font-size: 1.2em;
  padding: 8px;
}
  .mes_actual ion-button{
    margin: 0;
  }

.btn_venta_mes{
  max-width: 200px; 
  margin: 3px auto; 
  border: 1px solid #ccc; 
  padding: 8px; 
  border-radius: 10px; 
  background-color: #358cb4; 
  margin: 0; 
  text-align: center;
  
}
  
  .btn_venta_mes p{
    color: #ffffff;
    font-size: 1em;
    margin: 1px;
  }

  ion-icon.cloud-offline-outline {
    font-size: 24px;
    margin-right: 8px;
  }
  

.contenedor{
  display: flex;
  align-items: center;
}
.selecionador{
  background-color: #ffffff;
  border: 1px solid #312e2e;
  margin-top: 7px;
}
.titulo {
  margin-right: 20px;
  margin-left: 10px;
}
.contenedor-top{
  display: block;
}