
  <ion-toolbar>
    <ion-title>
      Estadísticas
    </ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="btn_venta_mes">
                <p (click)="setOpenTop(true)">Top de productos</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="btn_venta_mes">
                <p (click)="setOpen(true)">Ventas por mes</p>
              </div>
            </ion-col>
        </ion-row>
          </ion-grid>
          <div class="mes_actual">
            <p *ngIf="mesActual">Mes actual: {{ capitalizeFirstLetter(mesActual) }}</p>
          </div>
        <ion-card>
          <canvas  id="myChart" width="400" height="400">
          </canvas>
        </ion-card>

  
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let ingreso of ingresosDiarios; let i = index">
              <app-day-box [day]="ingreso.day" [value]="ingreso.value" [backgroundColor]="getBackgroundColor(i)"></app-day-box>
            </ion-col>
          </ion-row>
        </ion-grid>
    
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-toolbar>
            <ion-title>Ventas de mes total</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)"><ion-icon id="btn_cerrar" name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-content class="ion-padding">
            <ion-content>
              <ion-col style="border: 1px solid #e7ebee;" size="6" size-md="4">
                <ion-card class="contenedor">
                  <h5 class="titulo">Selecciona un Mes</h5>
                  <div class="selecionar">
                    <div>
                      <select [(ngModel)]="mesSeleccionado" class="selecionador">
                        <option value="" disabled selected>Seleccionar mes</option>
                        <option *ngFor="let mes of mesesConVentas" [value]="mes">{{ capitalizeFirstLetter(mes) }}</option>
                      </select>
                    </div>
                  </div>
                  
                </ion-card>
              </ion-col>
              
              <ion-col style="border: 1px solid #e7ebee;" size="6" size-md="4" *ngIf="mesSeleccionado">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{ capitalizeFirstLetter(mesSeleccionado) }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Total: {{ obtenerTotalPorMes(mesSeleccionado) }}
                  </ion-card-content>
                </ion-card>
              </ion-col>
              
            </ion-content>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal [isOpen]="isModalOpenTop">
        <ng-template>
          <ion-toolbar>
            <ion-title *ngIf="mesActual">Top de producto de {{ capitalizeFirstLetter(mesActual) }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpenTop(false)"><ion-icon id="btn_cerrar" name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-content>
            <ion-card >
              <ion-item *ngFor="let producto of topProductos" >
                <ion-title>{{ producto.producto_factura.length > 25 ? producto.producto_factura.slice(0, 25) + '...' : producto.producto_factura  }} </ion-title>
                <ion-card-content>Cantida vendida: {{ producto.cantidad_productos_factura }}</ion-card-content>
              </ion-item>
            </ion-card> 
            <p *ngIf="topProductos.length === 0">No hay productos en el top.</p>
          </ion-content>
        </ng-template>
      </ion-modal>
</ion-content>
